[submodule "libobcj2"]
	path = libobjc2
	url = https://github.com/gnustep/libobjc2
[submodule "libdispatch"]
	path = libdispatch
	url = https://github.com/ngrewe/libdispatch.git
[submodule "gnustep-make"]
	path = gnustep-make
	url = https://github.com/gnustep/make.git
[submodule "gnustep-base"]
	path = gnustep-base
	url = https://github.com/gnustep/base.git
[submodule "gnustep-back"]
	path = gnustep-back
	url = https://github.com/gnustep/back.git
[submodule "gnustep-gui"]
	path = gnustep-gui
	url = https://github.com/gnustep/gui.git
[submodule "gorm"]
	path = gorm
	url = https://github.com/gnustep/gorm.git
[submodule "rik.theme"]
	path = rik.theme
	url = https://github.com/AlessandroSangiuliano/rik.theme.git
